<section id="home" class="banner">
    <div class="image">
        <div class="typewriter">
            <h1 class="text">Hi, I'm Sumit</h1>
            <p id="texts" class="texts">Web Developer, Computer Engineer, Explorer...</p>
            <h2>
                <span id="holder"> </span>
                <span class="cursor"></span>
            </h2>
        </div>
    </div>
</section>

<%- include('about.ejs') %>
<%- include('service.ejs') %>
<%- include('contact.ejs') %>
