<hr>
<section id="service" class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-4xl text-2xl font-medium title-font text-gray-900 mb-4">Services
            </h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s text-2xl">Here at WEBSITE_MAKER, we offer websites as per your requirements. Here are some of the services we provide.</p>
            <div class="flex mt-6 justify-center">
                <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
            </div>
        </div>
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div
                    class="w-36 h-36 inline-flex items-center justify-center rounded-full text-indigo-500 mb-5 flex-shrink-0">
                    <img src="./img/design-removebg.png">
                </div>
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-2xl title-font font-medium mb-3">Website Design</h2>
                    <p class="leading-relaxed text-base text-lg">Confused or not sure what you want for your website? We got you!
                    </p>
                </div>
            </div>
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div
                    class="w-36 h-36 inline-flex items-center justify-center rounded-full text-indigo-500 mb-5 flex-shrink-0">
                    <img src="./img/setting.png">
                </div>
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-2xl title-font font-medium mb-3">Website Development & Management</h2>
                    <p class="leading-relaxed text-base text-lg">Fresh and from scratch coding for additional features and to fulfil your website needs.
                    </p>
                </div>
            </div>
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div
                    class="w-36 h-36 inline-flex items-center justify-center rounded-full text-indigo-500 mb-5 flex-shrink-0">
                    <img src="./img/secure-lock.png">
                </div>
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-2xl title-font font-medium mb-3">Secure /
                        SSL Certificate</h2>
                    <p class="leading-relaxed text-base text-lg">Keeping your website's sensitive data safe and secure.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>